@import url('../uikit/css/uikit.min.css') projection, screen;

html {
	font-family: Roboto;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
	font-family: Roboto;
}

.uk-padding-remove-right {
	padding-right: 0!important;
}

.uk-padding-remove-left {
	padding-left: 0!important;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
	height: 40px;
}

.uk-navbar-item .uk-pagination {
	margin: 0;
}

.input-field-invalid {
	color: #f0506e;
}

.uk-form-icon:not(.uk-form-icon-flip) + .uk-input {
	padding-left: 36px !important;
}