@import url('../uikit/css/uikit.min.css') projection, screen;

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
	font-family: Times, "Times New Roman", Georgia, serif;
	margin-bottom: 10px;
}

.uk-padding-remove-right {
	padding-right: 0!important;
}

.uk-padding-remove-left {
	padding-left: 0!important;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
	height: 42px;
}

.uk-navbar-item .uk-pagination {
	margin: 0;
}

.uk-alert {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 25px 10px 10px;
}

.uk-alert-close {
	top: 15px;
	right: 10px;
}

.input-field-invalid {
	color: #f0506e;
}
